main {
    margin: 2em;
}

.app-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

.dh-badge {
    padding: .5rem .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(211, 100%, 50%, 1);
    font-weight: normal;
    box-shadow: 1px 1px 1px -1px hsl(0deg 0% 0% / 50%);
}

.dh-badge:hover {
    padding: .5rem .25rem;
    background: hsla(211, 100%, 40%, 1);
    cursor: pointer;
}

.dh-addTag {
    display: flex;
    width: 2rem;
    height: 2rem;
    background: hsl(0, 0%, 50%);
    font-weight: normal;
    box-shadow: 1px 1px 1px -1px hsl(0deg 0% 0% / 50%);
    font-size: 1.5rem;
    padding: .4rem;
    line-height: 0.5;
    border-radius: 10rem;
    color: white;
    margin-left: .75rem;
    padding-bottom: 0.7rem;
    align-items: center;
    justify-content: center;
}

.dh-addTag:hover {
    background: hsla(211, 100%, 40%, 1);
    cursor: pointer;
    color: white;
}

.xOut {
    font-size: .85rem;
    font-weight: 100;
    color: hsla(0, 0%, 100%, 0.25);
    margin-left: .5rem;
    cursor: pointer;
}

.xOut:hover {
    color: hsla(0, 0%, 100%, 1);
}


/* >>>>>>>>>>>> */

.dh-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.dh-card {
    /*  */
}

.dh-card a {
    text-decoration: none;
}

:root {
    --hover: hsl(200, 100%, 98%);
}

.dh-card .card-body {
    background: hsl(0, 0%, 98%);
    cursor: pointer;
}

.dh-card:hover .card-body {
    background: var(--hover);
    box-shadow: 1px 1px 1px -1px hsl(0deg 0% 0% / 50%);
}

.dh-card .card-body {
    color: var(--gray-dark);
}

.dh-card:hover .card-body {
    color: var(--purple);
}